<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ticket</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th colspan="2" style="text-align: start">Movie title</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>sala</td>
        <td>2</td>
    </tr>
    <tr>
        <td>posto</td>

        <td>E12</td>
    </tr>
    <tr>
        <td>data</td>
        <td>14/09/2026</td>
    </tr>
    <tr>
        <td>orario</td>
        <td>17:22</td>
    </tr>
    <tr>
        <td colspan="2"> qr code</td>
    </tr>
    </tbody>
</table>
</body>
</html>